basePath: /v1
consumes:
- application/json
definitions:
  User_media:
    description: User_media media type (default view)
    example:
      created_at: "2021-09-25T11:22:33Z"
      family_name: 田中
      given_name: 太郎
      user_id: 1
    properties:
      created_at:
        description: ユーザー作成日時
        example: "2021-09-25T11:22:33Z"
        format: date-time
        type: string
      family_name:
        description: 姓
        example: 田中
        type: string
      given_name:
        description: 名前
        example: 太郎
        type: string
      user_id:
        description: ユーザーID
        example: 1
        format: int64
        type: integer
    required:
    - user_id
    - given_name
    - family_name
    - created_at
    title: 'Mediatype identifier: application/vnd.user_media+json; view=default'
    type: object
host: api.furusax.dev
info:
  title: Goa Sample
  version: v1
paths:
  /users/{user_id}:
    get:
      operationId: user#get
      parameters:
      - in: path
        name: user_id
        required: true
        type: string
      produces:
      - application/vnd.user_media+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/User_media'
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: get user
      tags:
      - user
produces:
- application/json
responses:
  InternalServerError:
    description: Internal Server Error
  NotFound:
    description: Not Found
schemes:
- https
swagger: "2.0"
